.discover {
  margin: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .instructions {
    p {
      font-weight: 500;
      color: #703de1;

      img {
        filter: brightness(0) saturate(100%) invert(15%) sepia(96%)
          saturate(4750%) hue-rotate(324deg) brightness(104%) contrast(111%);
      }
    }
  }

  .header {
    display: flex;
    gap: 10px;

    img {
      filter: brightness(0) saturate(100%) invert(30%) sepia(77%)
        saturate(1636%) hue-rotate(240deg) brightness(85%) contrast(109%);
    }

    span {
      color: #703de1;
    }
  }

  .gainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 40px;
    padding: 0;

    li {
      color: white;
      display: flex;
      flex-direction: column;
      margin: 10px auto;
      border-radius: 10px;
      align-items: center;
      min-width: 20%;
      max-width: 30%;
      padding: 20px;
      background-image: linear-gradient(
        140deg,
        #150050 0%,
        #3d2c8d 25%,
        #916bbf 50%,
        #8236cb 75%
      );

      &:hover {
        box-shadow: 0 0 10px #fff, -2px 0 10px #f0f, 2px 0 10px #0ff;
      }

      a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 1000;

        .symbol {
          background: linear-gradient(90deg, #7c83ff 30%, #7cc1ff);
          border-radius: 10px;
          border: none;
          color: white;
          font-weight: 1000;
        }

        .changePercent {
          color: rgb(102, 249, 218);
        }
      }

      img {
        filter: brightness(0) saturate(100%) invert(69%) sepia(75%)
          saturate(204%) hue-rotate(305deg) brightness(98%) contrast(107%);
      }
    }
  }

  table {
    margin: 2rem auto;

    th,
    td {
      padding: 0.5rem;
      max-width: 100%;
      margin-right: 2rem;
      text-align: center;
    }

    tr {
      &:nth-child(even) {
        background-color: #d4c8e4;
      }

      &:hover {
        background-color: yellow;
      }
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #4d148c;
      color: white;
    }

    a {
      text-decoration: none;
      color: darkblue;
      font-weight: 1000;

      &:hover {
        color: rgb(133, 133, 133);
      }
    }

    img {
      filter: brightness(0) saturate(100%) invert(15%) sepia(96%)
        saturate(4750%) hue-rotate(324deg) brightness(104%) contrast(111%);
    }

    .leftAlign {
      text-align: left;
    }

    .positive {
      color: green;
    }

    .negative {
      color: red;
    }
  }

  button[type="button"] {
    padding: 0;
    border: none;
    background: none;
    color: white;
    padding: 2px;
    outline: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}
