.portfolioDetail {
  margin: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .center {
    text-align: center;
  }

  .purple {
    color: rgb(119, 51, 234);
  }

  .green {
    color: rgb(6, 174, 6);
  }

  .normalFontWeight {
    font-weight: 300;
  }
}
