.portfolioDetail {
  margin: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;

  h3 {
    margin-bottom: 20px;
  }

  ul {
    display: inline-block;
    list-style-position: inside;
    list-style-type: square;
    margin: 0;
    padding: 0;

    li {
      text-align: left;
    }
  }

  table {
    margin: 0 auto 30px;

    th,
    td {
      padding: 0.5rem;
      max-width: 100%;
      margin-right: 2rem;
      text-align: center;
    }

    th {
      border-bottom: #ddd 2px solid;
    }

    .positive {
      color: green;
    }

    .negative {
      color: red;
    }
  }

  p {
    font-size: smaller;
  }

  .purple {
    color: rgb(119, 51, 234);
  }

  .green {
    color: rgb(6, 174, 6);
  }

  .normalFontWeight {
    font-weight: 300;
  }
}
