nav {
  ul {
    z-index: 999;
    background-color: #4d148c;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    margin: 0 5px;
    padding: 5px;

    .yellow {
      color: yellow;
    }

    .green {
      color: rgb(6, 174, 6);
    }

    a {
      color: white;
      text-decoration: none;
      padding: 5px;

      &:hover {
        color: lightpink;
        border-bottom: #70e2ac 2px solid;
        text-decoration: none;
      }
    }
    a[class="active"] {
      border-bottom: #70e2ac 2px solid;
      text-decoration: none;
    }

    .auth {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      font-size: smaller;

      img {
        max-height: 40px;
        max-width: 40px;
        border-radius: 50%;
      }
      button {
        background-color: white;
        color: rgb(119, 51, 234);
        border: none;
        border-radius: 5px;
        padding: 3px;

        &:hover {
          border: none;
          border-radius: 5px;
          background-color: lightpink;
          color: white;
        }
      }
    }
    form {
      input {
        border-radius: 5%;
        &::placeholder {
          font-size: 12px;
        }
      }

      img {
        width: 1em;
        height: 1em;
      }

      button {
        background-color: lightpink;
        border-radius: 5px;

        &:enabled {
          background-color: hotpink;
        }
      }
    }
  }
}
