body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;
}
