.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;

  .slogan {
    background-color: rgba(46, 12, 74, 0.996);
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: rgb(193, 186, 235);
      font-weight: 700;
    }

    p {
      color: white;
    }

    span {
      font-size: 40px;
      font-weight: 1000;
      color: white;
    }
  }

  .mainSection {
    display: flex;
    justify-content: space-around;

    .description {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      p {
        text-align: left;
      }

      button {
        width: 100px;
        border: none;
        border-radius: 5px;
        background-color: rgb(119, 51, 234);
        color: white;
        padding: 2px;

        &:hover {
          background-color: white;
          color: rgb(119, 51, 234);
          border: rgb(119, 51, 234) 1px solid;
          border-radius: 5%;
        }
      }
    }

    img {
      margin-top: 40px;
      width: 30%;
      height: 30%;
    }
  }

  .discover,
  .myStocks {
    background-color: white;
  }
}
