.stockDetail {
  margin: 100px 40px 50px;
  display: flex;
  flex-direction: column;

  .chartAndPrice {
    display: flex;
    gap: 30px;

    .stockChart {
      width: 80%;
      height: 500px;
    }

    .priceInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .price {
        font-size: 30px;
      }

      button[type="button"] {
        padding: 0;
        border: none;
        background: none;
        color: white;
        padding: 2px;
        outline: inherit;

        &:hover {
          cursor: pointer;
        }

        img {
          filter: brightness(0) saturate(100%) invert(15%) sepia(96%)
            saturate(4750%) hue-rotate(324deg) brightness(104%) contrast(111%);
        }
      }

      .positive {
        color: green;
      }

      .negative {
        color: red;
      }
    }
  }

  .keyInfoAndNews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .keyInfo {
      display: flex;
      flex-direction: column;
      max-width: 50%;

      .keyInfoContent {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .keyInfoStat {
          width: 25%;

          .keyInfoKey {
            margin-top: 20px;
            color: rgb(114, 113, 113);
          }
        }
      }
    }

    .news {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      gap: 20px;

      .newsContent {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .header {
      display: flex;
      gap: 10px;

      img {
        filter: brightness(0) saturate(100%) invert(30%) sepia(77%)
          saturate(1636%) hue-rotate(240deg) brightness(85%) contrast(109%);
      }

      span {
        color: #703de1;
      }
    }
  }
}
